<hr class="border-t border-gray-400 mx-[150px]">

<div class="h-[300px] md:h-[100px] bg-gray-200 flex flex-col md:flex-row items-center justify-center gap-5">
    <p class="text-2xl font-semibold text-black">For better experience, download the Swiggy app now</p>
    <img src="img-icons/swiggy-playstore.avif" height="75px" alt="Playstore">
    <img src="img-icons/swiggy-appstore.avif" height="75px" alt="Appstore">
</div>

<footer class="h-[400px] bg-gray-200 relative md:block hidden">
  <div class="absolute left-[520px] top-[60px] flex flex-col gap-2">
      <p class="text-black font-bold">Company</p>
      <p>About Us</p>
      <p>Swiggy Corporate</p>
      <p>Carrers</p>
      <p>Team</p>
      <p>Swiggy One</p>
      <p>Swiggy Instamart</p>
      <p>Swiggy Dineout</p>
      <p>Swiggy Genie</p>
      <p>Minis</p>
  </div>

  <div class="absolute right-[600px] top-[60px] flex flex-col gap-2">
       <p class="text-black font-bold">Contact us</p>
       <p>Help & Support</p>
       <p>Partner with us</p>
       <p>Ride with us</p>
       <br><br>
       <p class="text-black font-bold">Legal</p>
       <p>Terms & Conditions</p>
       <p>Privacy Policy</p>
  </div>

  <div class="absolute right-[400px] top-[60px] flex flex-col gap-2">
      <p class="text-black font-bold">Available in:</p>
      <p>Pune</p>
      <p>Mumbai</p>
      <p>Delhi</p>
      <p>Gurugram</p>
      <p>Bengaluru</p>
      <p>Chennai</p>
      <p>Kolkata</p>
  </div>

  <div class="absolute right-[170px] top-[60px] flex flex-col gap-2">
      <p class="text-black font-bold">Life at Swiggy</p>
      <p>Explore with Swiggy</p>
      <p>Swiggy News</p>
      <p>Snackables</p>
  </div>

  <div class="absolute top-[100px] left-[150px]">
      <img src="img-icons/swiggy-logo-orange.svg" height="60px" alt="Swiggy Logo">
      <p class="text-sm">© 2024 Swiggy Limited</p>
  </div>
</footer>
<footer class="h-[1200px] bg-gray-200 relative md:hidden">
  <div class="absolute left-[100px] top-[60px] flex flex-col gap-2">
    <img src="img-icons/swiggy-logo-orange.svg" height="60px" alt="Swiggy Logo">
      <p class="text-sm">© 2024 Swiggy Limited</p>
      <p class="text-black font-bold">Company</p>
      <p>About Us</p>
      <p>Swiggy Corporate</p>
      <p>Carrers</p>
      <p>Team</p>
      <p>Swiggy One</p>
      <p>Swiggy Instamart</p>
      <p>Swiggy Dineout</p>
      <p>Swiggy Genie</p>
      <p>Minis</p>

       <p class="text-black font-bold">Contact us</p>
       <p>Help & Support</p>
       <p>Partner with us</p>
       <p>Ride with us</p>
       <br><br>
       <p class="text-black font-bold">Legal</p>
       <p>Terms & Conditions</p>
       <p>Privacy Policy</p>

      <p class="text-black font-bold">Available in:</p>
      <p>Pune</p>
      <p>Mumbai</p>
      <p>Delhi</p>
      <p>Gurugram</p>
      <p>Bengaluru</p>
      <p>Chennai</p>
      <p>Kolkata</p>

      <p class="text-black font-bold">Life at Swiggy</p>
      <p>Explore with Swiggy</p>
      <p>Swiggy News</p>
      <p>Snackables</p>
  </div>
</footer>

